{% extends 'base.html' %}
    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4" style="margin-top: -60px;">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Enter Stock Details:</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="/add_stock" id="stock_add_form">
                            <fieldset>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Part Number:
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id="part_no" placeholder="Enter Part Number" name="part_no" type="text" autocomplete="off" required/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Part Name:
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "part_name" placeholder="Enter Part Name" name="part_name" type="text" autocomplete="off" required/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Part Price:
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "part_price" placeholder="Enter Part Price" name="part_price" type="text" autocomplete="off" required/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Part Vehicle Model:
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "part_vehicle_model" placeholder="Enter Part Vehicle Model" name="part_vehicle_model" type="text" autocomplete="off" required/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Part Quanity:
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "part_quantity" placeholder="Enter Part Quanity" name="part_quantity" type="text" autocomplete="off" required/>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-4"><label>
                                        Part GST:
                                    </label></div>
                                    <div class="col-sm-7">
                                        <div class="form-group">
                                            <input class="form-control" id = "part_gst" placeholder="Enter Part GST" name="part_gst" type="text" autocomplete="off" required/>
                                        </div>
                                    </div>
                                  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#decisionModal" onclick="get_old_record()">
    Add
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="decisionModalLabel">Please confirm..</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <label>Old Record:</label><p id="old_record_confirm" name="old_record_confirm" style="color: red;"></p>
            <label>New Record:</label><p id="new_record_confirm" name="new_record_confirm" style="color: red;"></p>
         Are you sure to add/modify the details?
        </div>
        <div class="modal-footer">
          <button class="btn btn-success" type="submit">Yes</button>
        </div>
      </div>
    </div>
  </div>
                                <br/>
                                <p style="color: red;">{{ msg }}
                                </p>
                                <p style="color: red;">{{ msg1 }}
                                </p>
                                <input type="hidden" id="arg" name="arg" value="{{arg}}"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
