<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Saaral Automobiles</title>
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='css/metisMenu.min.css')}}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/sb-admin-2.css')}}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='css/morris.css')}}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

    <!-- AutoCompleter CSS-->
    <link href="{{ url_for('static', filename='css/jquery.autocomplete.css')}}" rel="stylesheet" type="text/css">
    
    <!-- TagsInput CSS-->
    <link href="{{ url_for('static', filename='css/bootstrap-tagsinput.css')}}" rel="stylesheet" type="text/css">

    <!-- Own CSS-->
    <link href="{{ url_for('static', filename='css/script.css')}}" rel="stylesheet" type="text/css">

    <!-- AutoComplete-->
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Datatables-->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.7/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.2/css/buttons.dataTables.min.css">

    <!--Invoice bootstrap-->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

</head>

<body>
        <div id="wrapper">
                <!-- Navigation -->
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <form accept="/">
                        <a class="navbar-brand" href="/homepage">Saaral Automobiles v1.0</a>
                    </form>
                    </div>
                    <!-- /.navbar-header -->
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="/help">
                                <i class="fa fa-question-circle-o" ria-hidden="true"></i> Help</i>
                            </a>
                            <!-- /.dropdown-messages -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-bell fa-fw"></i> Notifications <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">
                                        <div>
                                            <i class="fa fa-tasks fa-fw"></i> New Task
                                            <span class="pull-right text-muted small">4 minutes ago</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <!-- /.dropdown-alerts -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>
                                {% if current_user.is_authenticated %}
                                {{current_user.id}}
                                {% else %}
                                Login required
                                {% endif %}
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                    {% if current_user.is_authenticated %} 
                                <li><a href="#"><i class="fa fa-user fa-fw"></i>
                                    User Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                                {% else %}
                                <li><a href="/"><i class="fa fa-user fa-fw"></i>
                                    Login</a>
                                </li>
                                {% endif %}
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                    </ul>
                    <!-- /.navbar-top-links -->
                    
                    <!-- /.navbar-static-side -->
                </nav>
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px; margin-right: 350px;">
                        {% if current_user.is_authenticated %}
                        <ul class="nav navbar-top-links navbar-left" style="margin-left: 300px; ">
                        {% if current_user.id == "admin" %}
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fas fa-cubes"></i>
                                Stock
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/add_stock"><i class="fab fa-stack-overflow"></i>
                                    Add Stock</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/stock"><i class="fas fa-layer-group"></i> Show Stock</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                        {% endif %}
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fas fa-cogs"></i></i>
                                Service
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/add_stock"><i class="fas fa-wrench"></i>
                                    Add Jobcard</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/stock"><i class="fas fa-cog"></i> Show Jobcard</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fas fa-cart-arrow-down"></i>
                                Sale
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/sale"><i class="fas fa-share-square"></i>
                                    Add Sale</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/stock"><i class="fas fa-list-ul"></i> Show Sale</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fas fa-search"></i>
                                Search
                                <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="/add_stock"><i class="fas fa-search-location"></i>
                                    Search mobile number</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/stock"><i class="fas fa-search-dollar"></i> Search stock</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                        <!-- /.dropdown -->
                        <!-- /.dropdown -->
                        <li class="dropdown">
                            <input type="search" id="search_base" name="search_base">
                        </li>
                        <!-- /.dropdown -->
                    </ul>                    
                    {% endif %}
                </nav>
        {% block content %}
        {% endblock %}
        <div class="row">
            <div class="col-md-3 col-md-offset-2">
                    <div class="panel-body" style="text-align: center">
                        <p>Copyright@SaaralAutomobiles</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-4">
                            <div class="panel-body" style="text-align: center">
                                <p>Developers:Ganesh.A, TamilSelvan.A</p>
                                    </div>
                                </div>
                    </div>
    </div>
    <!-- /#wrapper -->

<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

<!--Fontawesome 6-->
<script src="https://kit.fontawesome.com/cecafaebc2.js" crossorigin="anonymous"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{ url_for('static', filename='js/metisMenu.min.js')}}"></script>

<!-- Morris Charts JavaScript -->
<script src="{{ url_for('static', filename='js/raphael.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris.min.js')}}"></script>
<script src="{{ url_for('static', filename='js/morris-data.js')}}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ url_for('static', filename='js/sb-admin-2.js')}}"></script>

<!-- Autocomplete JS-->
<script src="{{ url_for('static', filename='js/jquery.autocomplete.js')}}"></script>

<!-- Tags Input JS-->
<script src="{{ url_for('static', filename='js/bootstrap-tagsinput.js')}}"></script>

<!-- Editor-->
<script src="{{ url_for('static', filename='js/tinymce.min.js')}}"></script>

<!-- Own JS-->
<script src="{{ url_for('static', filename='js/script.js')}}"></script>

<!-- Autocomplete JS-->
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Datatable JS-->
<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/fixedheader/3.1.7/js/dataTables.fixedHeader.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.2.5/js/responsive.bootstrap.min.js"></script>

<!-- <script src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.print.min.js"></script>


<!--Invoice bootstrap add row feat-->
<script>
    $(document).ready(function(){
    var i=1;
    $("#add_row").click(function(){b=i-1;
      	$('#addr'+i).html($('#addr'+b).html()).find('td:first-child').html(i+1);
      	$('#tab_logic').append('<tr id="addr'+(i+1)+'"></tr>');
      	i++; 
  	});
    $("#delete_row").click(function(){
    	if(i>1){
		$("#addr"+(i-1)).html('');
		i--;
		}
		calc();
	});	
	$('#tab_logic tbody').on('keyup change',function(){
		calc();
	});
	$('#tax').on('keyup change',function(){
		calc_total();
	});
});
function calc()
{
	$('#tab_logic tbody tr').each(function(i, element) {
		var html = $(this).html();
		if(html!='')
		{
			var qty = $(this).find('.qty').val();
			var price = $(this).find('.price').val();
			$(this).find('.total').val(qty*price);
			
			calc_total();
		}
    });
}
function calc_total()
{
	total=0;
	$('.total').each(function() {
        total += parseInt($(this).val());
    });
	$('#sub_total').val(total.toFixed(2));
	tax_sum=total/100*$('#tax').val();
	$('#tax_amount').val(tax_sum.toFixed(2));
	$('#total_amount').val((tax_sum+total).toFixed(2));
}
</script>


<script>
function gettime(){
    document.getElementById("browser_time").value = new Date();
}
gettime();
</script>
<!--script for autocomplete-->
<script>
    $(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data){
                $('#part_name').autocomplete({
                    source: data,
                    minLength: 1
                });
            });
        });
        $(function() {
        $.ajax({
            url: '{{ url_for("autopart_no") }}'
            }).done(function (data){
                $('#part_no').autocomplete({
                    source: data,
                    minLength: 1
                });
            });
        });
        $(function() {
        $.ajax({
            url: '{{ url_for("autovehicle_model") }}'
            }).done(function (data){
                $('#part_vehicle_model').autocomplete({
                    source: data,
                    minLength: 1
                });
            });
        });
</script>
<script>
    function get_old_record(){
    var new_part_details_id = document.getElementById("part_no").value;
    var new_part_gst = document.getElementById("part_gst").value;
    var new_part_quantity = document.getElementById("part_quantity").value;
    var new_part_price = document.getElementById("part_price").value;
        $.ajax({
            url: '/oldrecord/'+new_part_details_id
            }).done(function (data){
                document.getElementById("old_record_confirm").innerText = "gst:"+data['gst']+" quantity:"+data['quantity']+" price:"+data['price']
                document.getElementById("new_record_confirm").innerText = "gst:"+new_part_gst+" quantity:+"+new_part_quantity+" price:"+new_part_price
        });
    }
</script>
<!--script for excel, pdf of Datatable-->
<script>
    $(document).ready(function() {
    $('#stock_table').DataTable( {
        dom: 'Bfrtip',
        buttons: [
        { extend: 'copyHtml5', footer: true, exportOptions: {
            columns: 'th:not(:last-child)'
         }
        },
        { extend: 'csvHtml5', footer: true, exportOptions: {
            columns: 'th:not(:last-child)'
         } 
        }, 
        { extend: 'excelHtml5', footer: true, exportOptions: {
            columns: 'th:not(:last-child)'
         } 
        }, 
        { extend: 'pdfHtml5', footer: true, exportOptions: {
            columns: 'th:not(:last-child)'
         }
        }
        ]
    } );
} );
</script>
<!--script for Datatable-->
<script>
    $(document).ready(function() {
    var table = $('#stock_table').DataTable( {
        responsive: true
    } );
    new $.fn.dataTable.FixedHeader( table );
} );
</script>
</body>
</html> 